# See https://help.github.com/ignore-files/ for more about ignoring files
# AND https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything 🔥
*

# But descend into directories
!*/

# Recursively allow files under subtree
!plugins/livestream-control/**
!themes/livestream-control/**

# Configuration files
!.gitignore
!.editorconfig
!.prettierrc

# Dependency directories
node_modules

# Dotenv environment variables
.env

# OS or Editor folders
.vscode
